{% extends "base.html" %}
{% block content %}
<div>
        {% if form.errors %}
        <h2>Please correct the following errors</h2>
        {% else %}
        <h2>Single entry</h2>
        {% endif %}
        <br>
        <form class="submit" enctype="multipart/form-data" method="post" action="/enter/submit/">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="{{ stage_field }}" value="1" />
          <p><input class = "submitButton" type="submit" value="Preview" /></p>
        </form>
      </div>
      <div>
        <br>
        <h2>Batch entry</h2>
        <p>
        Use <a href="">this template</a> to submit a batch in CSV
        format.
        </p>
        <form>

        </form>
</div>
{% endblock content %}
